/* FrogLilySection.css */
.frog-lily-wrapper {
	position: relative;
	width: 100%;
	height: 50vh;
	overflow: visible; /* 🔄 GEWIJZIGD */
	background-color: black;
}

.lily {
	position: absolute;
	bottom: 10vh;
	width: 50vw;
	user-select: none;
	pointer-events: all;
}

.lily.back {
	left: 60%;
	transform: translateX(-50%);
	z-index: 1;
}

.lily.front {
	left: 40%;
	transform: translateX(-50%);
	z-index: 3;
}

.frog {
	position: absolute;
	bottom: 20vh;
	left: 50%;
	transform: translateX(-50%);
	width: 30vw;
	z-index: 2;
	user-select: none;
	pointer-events: none;
}

.story-container {
	padding-top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	z-index: 5;
	position: relative;
}

.frog-lily-page {
	min-height: 200vh; /* zodat scrollY ver genoeg kan komen */
}
