.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	position: relative;
}

.logo {
	height: 150px;
}

.nav-left {
	margin-left: 260px;
}
.nav-right {
	display: flex;
	gap: 30px;
	align-items: center;
	margin-right: 200px;
}

.nav-right a {
	color: #999;
	text-decoration: none;
	font-weight: normal;
	margin-left: 1.5rem;
	transition: color 0.2s ease;
}

.nav-right a:hover,
.nav-right a.active {
	color: #000;
	font-weight: bold;
}

.search-button {
	background: none;
	border: none;
	font-size: 1.2rem;
	cursor: pointer;
}

.search-container {
	display: flex;
	align-items: center;
	position: relative;
}

.search-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	margin-left: 0.75rem;
	display: flex;
	align-items: center;
	color: black;
}

.search-input {
	padding: 0.6rem 1.2rem;
	border: none;
	border-radius: 999px;
	background-color: #f0f0f0;
	font-size: 1rem;
	outline: none;
	width: 220px;
	transition: all 0.3s ease;
}

.nav-item-wrapper {
	position: relative;
}

.clickable {
	cursor: pointer;
}

.dropdown {
	position: absolute;
	top: 2.5rem;
	left: 0;
	z-index: 1000;
}

.dropdown-item {
	font-size: 0.9rem;
	color: #111;
	margin-bottom: 0.5rem;
	cursor: pointer;
}

.dropdown-item:hover {
	color: #d00000;
}

.clickable {
	color: #999;
	transition: color 0.2s ease;
}

.clickable:hover,
.clickable.active {
	color: #000; 
	font-weight: bold;
}
