.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 21rem;
	flex-wrap: wrap;
	position: relative;
	background-color: white;
}

.logo {
	height: 150px;
	cursor: pointer;
}

.nav-left {
	flex: 1;
}

.nav-right {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	align-items: center;
	justify-content: flex-end;
	flex: 2;
}

.nav-right a,
.clickable {
	color: #555;
	text-decoration: none;
	font-weight: 500;
	cursor: pointer;
	transition: color 0.2s ease;
}

.nav-right a:hover,
.nav-right a.active,
.clickable:hover,
.clickable.active {
	color: black;
	font-weight: bold;
}

.search-container {
	display: flex;
	align-items: center;
	position: relative;
}

.search-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0.25rem;
	display: flex;
	align-items: center;
	color: black;
	font-size: 1.2rem;
}

.search-input {
	padding: 0.6rem 1rem;
	border: none;
	border-radius: 999px;
	background-color: #f0f0f0;
	font-size: 1rem;
	width: 200px;
	outline: none;
	transition: all 0.3s ease;
}

.nav-item-wrapper {
	position: relative;
}

.dropdown {
	position: absolute;
	top: 2.5rem;
	left: 0;
	background-color: white;

	padding: 0.5rem;
	z-index: 1000;
}

.dropdown-item {
	font-size: 0.9rem;
	color: #333;
	margin-bottom: 0.5rem;
	cursor: pointer;
}

.dropdown-item:hover {
	color: #d00000;
}

@media (max-width: 768px) {
	.nav {
		flex-direction: column;
		align-items: flex-start;
		padding: 1rem;
	}

	.nav-right {
		flex-direction: column;
		align-items: flex-start;
		gap: 0.75rem;
		width: 100%;
		margin-top: 1rem;
	}

	.search-input {
		width: 100%;
	}
}
