@import url("https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stalemate&display=swap");

.storybox {
	background-color: black;
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translateX(-50%);
	width: 70vw;
	max-width: 1000px;

	padding: 4rem 9rem 2rem;
	border: 2px solid gold;
	z-index: 5;
}

.storybox p {
	font-family: "Stoke", serif;
	font-weight: 400;
	font-style: normal;
	color: white;
	font-size: 2rem;
	line-height: 1.4;
	text-indent: 0;
	margin-top: 4rem;
}

.storybox p::first-letter {
	font-family: "Stalemate", cursive;
	font-size: 20rem;
	color: gold;
	padding-right: 80px;
	padding-top: 20px;
	float: left;
	line-height: 1;
	margin: 0 1rem 0 0;
	transition: text-shadow 0.5s ease;
	letter-spacing: 1rem; /* ✨ voeg dit toe */
}

.storybox:hover p::first-letter {
	text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffaa00, 0 0 20px #ffcc00;
}

.storybox::before,
.storybox::after,
.storybox span::before,
.storybox span::after {
	content: "";
	position: absolute;
	width: 3rem;
	height: 3rem;
	background: transparent;
	box-sizing: border-box;
	border: 2px solid gold;
}

.storybox::before {
	top: 0;
	left: 0;
	transform: translate(-100%, -100%);
}

.storybox::after {
	top: 0;
	right: 0;
	transform: translate(100%, -100%);
}

.storybox span::before {
	bottom: 0;
	left: 0;
	transform: translate(-100%, 100%);
}

.storybox span::after {
	bottom: 0;
	right: 0;
	transform: translate(100%, 100%);
}
