.storyline {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100vh;
  background-color: red; /* opvallend maken */
  transform-origin: top;
  z-index: -1; /* lager dan alles */
  pointer-events: none;
}
